@mixin responsive($ScreenWidth) {
  @media (max-width: $ScreenWidth) {
    @content;
  }
}


@mixin flex($direction, $align, $justify){
    display: flex ;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin style-btn($heigth, $bg, $colorText) {
  display: inline-block;
  height: $heigth;
  line-height: $heigth;
  background-color: $bg;
  border-radius: 0.6rem;
  padding: 0px 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  
  &:hover {
    background-color: $colorText;
    color: $bg;
  }
}
